extends layout

block main
    h1.w3-panel Book shelf
    
    table.w3-container.w3-table.w3-hoverable
        each book in books
            tr
                each val, key in book
                    if (key !== 'id')
                        td
                            if (key === 'title')
                                a(href=`books/?id=${book.id}`)= val
    br

    div(id="add_book").w3-container
        form(method="POST" action="/books?_method=PUT").w3-row-padding
            .w3-quarter
                input.w3-input#addTitle(type="text" name="title" placeholder='Title' required)
            .w3-quarter
                input.w3-input#addAuthor(type="text" name="author" placeholder='Author' required)
            .w3-quarter
                input.w3-input#addDate(type="text" name="publicDate" placeholder='Publication date' required)
            .w3-quarter
                button.w3-button.w3-large.w3-black#addBook(type="submit") +