extends layout

block append scripts
    script(defer src="scripts/books_ajax.js")

block main

    h1.w3-panel Book shelf
    
    .w3-section#booksTable
        include books

    div.w3-padding
        input#avaliableCheck(type="checkbox")
        label(for="avaliableCheck")  Avaliable books only
        br
        button.w3-button.w3-large.w3-black#filterButton Filter
    br

    div.w3-container
        form(method="POST" action="/books?_method=PUT").w3-row-padding
            .w3-quarter
                input.w3-input#addTitle(type="text" name="title" placeholder='Title' required)
            .w3-quarter
                input.w3-input#addAuthor(type="text" name="author" placeholder='Author' required)
            .w3-quarter
                input.w3-input#addDate(type="text" name="publicDate" placeholder='Publication date' required)
            .w3-quarter
                button.w3-button.w3-large.w3-black#addBook(type="submit") +

